<div class="sidebar">
<%
  var i, recipeLabel,
    recipes_list    = site.pages.filter( p => p.layout === 'recipe' ),
    recipes_hygiene = recipes_list.filter( p => p.category === 'hygiene' )
      .sort( 'index' ),
    recipes_food    = recipes_list.filter( p => p.category === 'food' )
      .sort( 'index' );
%>
  <button class="btn-icon btn-mainnavclose"><svg class="icon"><use xlink:href="/images/svgdefs.svg#icon-close"/></svg></button>
  <div class="sidebar-help touchhide">
    <span class="key key-icon"><svg class="icon"><use xlink:href="/images/svgdefs.svg#icon-arrow-up"/></svg></span><span class="key key-icon"><svg class="icon"><use xlink:href="/images/svgdefs.svg#icon-arrow-down"/></svg></span> + <span class="key">INVIO</span>
  </div>
  <div class="group">
    <%- partial('_partial/nav-main') %>
  </div>
  <div class="group">
    <h3><%- __('listTitleHygiene') %></h3>
    <ul><%
    recipes_hygiene.forEach( recipe => {
      recipeLabel = recipe.title.replace( /\([^()]*\)/gi, '' ); %>
      <li<% if ( page.title === recipe.title ) { %> class="selected"<% } %>><a href="/<%- recipe.path %>" class="btn" tabindex="-1"><%- recipeLabel %></a></li><%
    }) %>
    </ul>
  </div>
  <div class="group">
    <h3><%- __('listTitleFood') %></h3>
    <ul><%
    recipes_food.forEach( recipe => {
      recipeLabel = recipe.title.replace( /\([^()]*\)/gi, '' ); %>
      <li<% if ( page.title === recipe.title ) { %> class="selected"<% } %>><a href="/<%- recipe.path %>" class="btn" tabindex="-1"><%- recipeLabel %></a></li><%
    }) %>
    </ul>
  </div>
  <div class="div"></div>
  <div class="sidebar-contacts">
    <a href="m&#97;&#105;lto&#58;simpleto%6Dakei&#37;74%4&#48;z%6&#53;&#110;o%6&#57;&#100;%&#50;Ei&#116;" target="_blank" class="btn-icon" tabindex="-1"><svg class="icon"><use xlink:href="/images/svgdefs.svg#icon-mail"/></svg><span>&#115;&#105;&#109;&#112;letom&#97;&#107;&#101;i&#116;&#64;zen&#111;id&#46;it</span></a>
  </div>
</div>