<%- partial('_partial/head') %>

<%- partial('_partial/nav') %>
<%- partial('_partial/sidebarmenu') %>
<% if ( page.layout === 'ingredient' ) page.bodyclass = "page page3" %>

<div class="main<% if ( page.bodyclass ) { %> <%= page.bodyclass %><% } %>">
  <div class="nav-main<% if ( page.layout === 'recipe' ) { %> nav-main-recipe<% } %>">
    <%- partial('_partial/nav-main') %>
  </div>
<%- body %>
</div><%
if ( page.layout === 'recipe' ) { %>
<%- partial('_partial/recipefooter') %>
<%- partial('_partial/nav-recipe') %><%
} %>

<%- partial('_partial/foot') %>