<% var i, j; %>

  <a name="top"></a>

  <div class="recipeheader">

    <div class="nav-switch-wrapper">
      <nav class="nav-switch">
        <div class="group">
          <a href="/" class="btn-icon btn-mainnavopen"><svg class="icon"><use xlink:href="/images/svgdefs.svg#icon-list"/></svg></a>
        </div>
      </nav>
    </div>

    <div class="content">

      <div class="recipeheader-main">
        <h1><div class="sub"><span>Ricetta</span></div>Come fare <%- page.titleArticle %> <%- page.title.toLowerCase().replace( '(', '<div class="sub"><span>– ' ).replace( ')', '</span></div>' ) %></h1>
        <h5>Le 3 cose da sapere</h5>
        <ol>
        <% for ( i = 0; i < page.principles.length; i++ ) { %>
          <li><%- page.principles[ i ] %></li>
        <% } %>
        </ol>
      </div>

      <% if ( page.posterimage ) { %>
      <div class="recipeheader-image">
        <img src="/recipes/covers/<%= page.posterimage %>.svg" alt="<%= page.title %>">
      </div>
      <% } %>

      <div class="recipeheader-meta">
        <svg class="icon"><use xlink:href="/images/svgdefs.svg#icon-clock"/></svg><%
      if ( page.timeToMake ) { %>
        <div>
          <h6>Si può fare in</h6>
          <span><%- page.timeToMake %></span>
        </div><%
      }
      if ( page.timeToUse ) { %>
        <div>
          <h6>Si può <% if ( page.category === 'hygiene' ) { %>usare<% } else { %>consumare<% } %> dopo</h6>
          <span><%- page.timeToUse %></span>
        </div><%
      } %>
      </div>

    </div>

  </div>

  <article>

    <section class="content section1">

      <div class="cols cols-1-2">

        <div class="sources"><%
        if ( page.sources ) { %>
          <div class="card-empty">
            <h5>Riferimenti</h5>
            <ul><%
            for ( i = 0; i < page.sources.length; i++ ) { %>
              <li><svg class="icon"><use xlink:href="/images/svgdefs.svg#icon-<%= page.sources[ i ][ 0 ] %>"/></svg><span><%- page.sources[ i ][ 1 ] %></span></li><%
            } %>
            </ul>
          </div><%
        } %>
        </div>

        <div>
          <div class="card-empty"><%
          if ( page.comparisonIngredients || page.comparisonPrices ) { %>
            <h5>Rispetto ad un prodotto industriale</h5><%
          } %>
            <div class="comparison"><%
            if ( page.comparisonIngredients ) { %>
              <div>
                <h6>Ingredienti</h6>
                <div class="comparison-row">
                  <% for ( j = 0; j < page.comparisonIngredients[ 0 ].length; j++ ) { %><ul><% for ( i = 0; i < (j > 0? page.comparisonIngredients[ 0 ][ j ]-page.comparisonIngredients[ 0 ][ j-1 ] : page.comparisonIngredients[ 0 ][ j ]); i++ ) { %><li></li><% } %></ul><% } %>
                </div>
                <span>anziché</span>
                <div class="comparison-row">
                  <% for ( j = 0; j < page.comparisonIngredients[ 1 ].length; j++ ) { %><ul><% for ( i = 0; i < (j > 0? page.comparisonIngredients[ 1 ][ j ]-page.comparisonIngredients[ 1 ][ j-1 ] : page.comparisonIngredients[ 1 ][ j ]); i++ ) { %><li></li><% } %></ul><% } %>
                </div>
              </div><%
            }
            if ( page.comparisonPrices ) {
              var cPriceMax1 = +page.comparisonPrices[ 1 ][ 1 ],
                cPriceMin1 = Math.round( page.comparisonPrices[ 1 ][ 0 ] / cPriceMax1 * 100 ),
                cPriceMin0 = Math.round( page.comparisonPrices[ 0 ][ 0 ] / cPriceMax1 * 100 ),
                cPriceMax0 = Math.round( page.comparisonPrices[ 0 ][ 1 ] / cPriceMax1 * 100 ); %>
              <div>
                <h6>Costo <%- page.comparisonPricesQty %></h6>
                <div class="comparison-row">
                  <h6>€ <%- page.comparisonPrices[ 0 ].join(' - ') %></strong></h6>
                  <div class="bar" style="width:<%- cPriceMax0 %>%"></div><div class="bar" style="width:<%- cPriceMin0 %>%"></div>
                </div>
                <span>anziché</span>
                <div class="comparison-row">
                  <h6>€ <%- page.comparisonPrices[ 1 ].join(' - ') %></h6>
                  <div class="bar" style="width:100%"></div><div class="bar" style="width:<%- cPriceMin1 %>%"></div>
                </div>
              </div><%
            } %>
            </div>
          </div>
        </div>

      </div>

    </section>

    <section class="content section2 section-ingredients" id="ingredienti">

      <h2>Ingredienti
        <div class="sub">
          <span><%- page.recipeIntro[ 0 ] %></span>
          <span class="quantity">
            <button class="btn-icon btn-icon-minus"><svg class="icon"><use xlink:href="/images/svgdefs.svg#icon-minus"/></svg></button><span id="qtyValue"><%- page.recipeBase.qty %></span><% if ( page.recipeBase.units ) { %> <%- page.recipeBase.units %><% } %><button class="btn-icon btn-icon-plus"><svg class="icon"><use xlink:href="/images/svgdefs.svg#icon-plus"/></svg></button>
          </span>
          <span><%- page.recipeIntro[ 1 ] %></span>
        </div>
      </h2>

      <div class="card-list">
      <%

        var ingredients = [],
          ingredientRatios = {},
          recipeBaseRatio = 1;

        for ( i = 0; i < page.ingredients.length; i++ ) {

          ingredients.push({
            id: page.ingredients[ i ].id,
            name: page.ingredients[ i ].name,
            qty: +page.ingredients[ i ].qty,
            ratio: +page.ingredients[ i ].ratio,
            units: page.ingredients[ i ].units,
            notes: [ page.ingredients[ i ].notes ]
          })

          var ingredientDataSource = site.pages.filter( p => {
            return ( p.layout === 'ingredient' ) && ( p.id === page.ingredients[ i ].id );
          })
          if ( ingredientDataSource.length ) {
            var ds = ingredientDataSource.data[0];
            ingredients[i].name = ds.name;
            if ( ds.altNames ) {
              ingredients[i].altNames = ds.altNames;
            }
            ingredients[i].spec = ds.unitWeight;
            ingredients[i].notes.unshift( ds['features_' + page.category] );
            if ( ds.path ) {
              ingredients[i].url = '/' + ds.path;
            }
          }
          if ( page.ingredients[ i ].spec ) {
            ingredients[ i ].spec = +page.ingredients[ i ].spec;
          }
        }

        if ( page.recipeBase.units === 'ml' && page.ingredients[ 0 ].units !== 'ml' ) {
          var ingrSpecRatios = 0;
          ingredients.forEach( ing => {
            if ( ing.spec ) {
              ingrSpecRatios += ing.ratio / ing.spec;
            }
          })
          recipeBaseRatio = Math.round( ( 1 / ingrSpecRatios ) * 100000 ) / 1000;
        }

        ingredients.forEach( ing => {

          if ( ing.ratio ) {
            ingredientRatios[ ing.id ] = {
              ratio: +ing.ratio,
              spec: ing.spec,
              units: ing.units
            };
          }

          if ( ing.name ) {
      %>
        <div class="card card-checkbox">
          <input type="checkbox" id="ingr<%= ing.id %>">
          <label for="ingr<%= ing.id %>"></label>
          <div class="card-body">
            <h3><% if ( ing.url ) { %><a href="<%= ing.url %>" class="ingredient" data-tooltip="&rarr; Vai alla scheda"><%- ing.name %></a><% } else { %><span class="ingredient"><%- ing.name %></span><% } %><% if ( ing.qty ) { %><span class="quantity"><span class="qtyspan"><span data-qty="<%- ing.id %>"><%- ing.qty %></span> <%- ing.units %></span></span><% } %></h3>
            <% if ( ing.altNames ) { %><p class="note">Chiamato anche: <strong><%= ing.altNames %></strong></p><% } %>
            <% if ( ing.notes.length ) {
                ing.notes.forEach( note => {
                   %><p class="note"><%- note %></p><%
                  })
                } %>
          </div>
        </div><%
          }
        });
        if ( page.recipeDisclaimer ) { %>
        <div class="card-empty">
          <p><%- page.recipeDisclaimer %></p>
        </div>
      <% }
        page.qtyStep = ( page.recipeRange? page.recipeRange[ 2 ] : '50' ) + page.recipeBase.units;
      %>
        <script>var recipeBase=<%- JSON.stringify( page.recipeBase ) %>,recipeBaseRatio=<%- recipeBaseRatio %>,<% if ( page.recipeRange ) { %>recipeRange=[<%- page.recipeRange %>],<% } %><% if ( page.recipePrecision ) { %>recipePrecision=[<%- page.recipePrecision %>],<% } %>ingredients=<%- JSON.stringify( ingredientRatios ) %></script>
      </div>

    </section>

    <section class="content section3" id="attrezzatura">

      <h2>Attrezzatura</h2>

      <div class="card-list">
      <% for ( i = 0; i < page.tools.length; i++ ) { %>
        <div class="card card-checkbox">
          <input type="checkbox" id="tool<%= i %>">
          <label for="tool<%= i %>"></label>
          <div class="card-body">
          <h3><%- page.tools[ i ][ 0 ] %></h3>
          <% if ( page.tools[ i ][ 1 ] ) { %><p class="note"><%- page.tools[ i ][ 1 ] %></p><% } %>
          </div>
        </div>
      <% } %>
      </div>

    </section>

    <section class="content section4 section-instructions" id="ricetta">

      <h2><div class="sub"><span>Ricetta passo passo</span></div>Come fare <%- page.titleArticle %> <%- page.title.toLowerCase() %></h2>

      <div class="card-list card-list-ordered">
      <% for ( i = 0; i < page.directions.length; i++ ) { %>
        <div class="card<% if ( page.directions[ i ][ 2 ] ) { %> card-title<% } %>"><%
          if ( page.directions[ i ][ 2 ] ) { %>
            <h3><%- page.directions[ i ][ 2 ] %></h3><%
          } %>
          <p><%- page.directions[ i ][ 0 ] %></p>
          <% if ( page.directions[ i ][ 1 ] ) { %><p class="note"><%- page.directions[ i ][ 1 ] %></p><% } %>
        </div>
      <% } %>
      </div>

    </section>

    <section class="content section5 section-usage" id="uso">

      <div class="card-list">
        <div class="card">
          <h3>Come si usa</h3>
          <p><%- page.usage[ 0 ] %></p>
          <% if ( page.usage[ 1 ] ) { %><p class="note"><%- page.usage[ 1 ] %></p><% } %>
        </div>
        <div class="card">
          <h3>Come si conserva</h3>
          <p><%- page.storage[ 0 ] %></p>
          <% if ( page.storage[ 1 ] ) { %><p class="note"><%- page.storage[ 1 ] %></p><% } %>
        </div>
        <div class="card">
          <h3>Quanto dura</h3>
          <p><%- page.expiration[ 0 ] %></p>
          <% if ( page.expiration[ 1 ] ) { %><p class="note"><%- page.expiration[ 1 ] %></p><% } %>
        </div>
      </div>

    </section>

    <div class="recipefooter">
      <div class="content">
        <div class="cols cols-1-1-1">
          <a href="m&#97;&#105;lto&#58;simpleto%6Dakei&#37;74%4&#48;z%6&#53;&#110;o%6&#57;&#100;%&#50;Ei&#116;?subject=Ho una segnalazione per: <%- page.title %>" target="_blank" class="btn-icon" tabindex="-1"><svg class="icon"><use xlink:href="/images/svgdefs.svg#icon-report"/></svg><span>Segnala errori o suggerimenti</span></a>
          <a href="m&#97;&#105;lto&#58;simpleto%6Dakei&#37;74%4&#48;z%6&#53;&#110;o%6&#57;&#100;%&#50;Ei&#116;" target="_blank" class="btn-icon" tabindex="-1"><svg class="icon"><use xlink:href="/images/svgdefs.svg#icon-mail"/></svg><span>Vuoi collaborare a <strong>Simple To Make It</strong>? Contattaci!</span></a>
          <a href="https://github.com/zenoid/simpletomake/blob/master/source/recipes/<%- page.recipeid %>.md" target="_blank" class="btn-icon" tabindex="-1"><svg class="icon"><use xlink:href="/images/svgdefs.svg#icon-pr"/></svg><span>Proponi modifiche a questa ricetta su Github</span></a>
        </div>
      </div>
    </div>

  </article>